[Desktop Entry]
Type=Application
Name=LumineCapture
GenericName=Screenshot Tool
Comment=Screenshot and annotation tool for Wayland with built-in OCR
Exec=/usr/bin/lumine-capture
Icon=lumine-capture
Terminal=false
Categories=Graphics;Utility;
Keywords=screenshot;capture;annotate;ocr;
StartupWMClass=lumine-capture
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
